{% extends "layout.html" %}

{% block content %}
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="row">
        <div class="page-header">
            <h2>
                Устройства
            </h2>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Светодиод:
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-default">Вкл|Выкл</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-3">
    <div class="page-header">
        <h2>
            Последние события:
        </h2>
    </div>
    <div class="row">
        <div id="log">
        </div>
    </div>
</div>
{% endblock %}